/* ----------- GENERAL STYLE ---------- */
.modal-section,
.mobile-menu,
.nav-list,
.contact {
  display: none;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
@media screen {
  .body {
    font-family: var(--font-family);
    color: var(--slate);
    background-color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  /* @media screen and (max-width: 767px) {
  .container-icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  } */

  /* RESET */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    align-items: baseline;
  }

  button {
    cursor: pointer;
  }

  .link {
    text-decoration: none;
    color: inherit;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /* -----------header---------- */

  .header {
    background: var(--white);
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .header .container {
    display: flex;
    align-items: center;
  }
  .logo-header {
    display: flex;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    align-items: center;
    margin-right: 76px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .logo-text {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
  }

  .nav {
    align-items: center;
    display: flex;
    margin-right: auto;
  }

  .mobile-menu-open {
    display: flex;
    background: transparent;
    border: none;
    margin-left: auto;
  }

  .mobile-menu-open .mobile-open-icon {
    fill: var(--navy-blue);
  }
  .contact-link:hover,
  .contact-link:focus {
    color: var(--ocean);
  }

  /* ---------------- section hero -------------- */

  .hero {
    background: var(--navy-blue);
    display: flex;
    max-width: 320px;

    min-height: 432px;
    padding-top: 72px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile.jpg);
    background-repeat: no-repeat;
  }

  .hero-title {
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
  }

  .main-button {
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
    font-family: var(--font-family);
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.04em;
    color: var(--white);
    margin-right: auto;
    margin-left: auto;
    margin-top: 72px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .main-button:hover,
  .main-button:focus {
    background-color: #404bbf;
    color: #ffffff;
  }

  /* qualities styles */

  .qualities-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .qualities-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .quality-subtitle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-align: center;
    margin-bottom: 8px;
  }

  .quality-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
  }

  /* <!-- TEAM SECTION --> */

  .team-section {
    background: var(--cloud);
    padding-top: 96px;
    padding-bottom: 96px;
    max-width: 768px;
    min-height: 436px;
  }

  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    color: var(--navy-blue);
    margin-bottom: 72px;
    text-align: center;
  }

  .team-list {
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 64px 24px;
  }

  .team-item {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    width: 264px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-text {
    padding: 32px 0;
  }

  .team-name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 8px;
  }

  .team-role {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
  }

  .team-link {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-link .social-media {
    background-color: var(--iris);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-media:hover,
  .social-media:focus {
    background-color: #404bbf;
  }

  .team-media {
    fill: #f4f4fd;
  }
  /* portfolio styles */
  .portfolio-section {
    padding-top: 96px;
    padding-bottom: 96px;
    max-width: 320px;
  }

  .portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    color: var(--navy-blue);
    margin-bottom: 72px;
    text-align: center;
  }

  .portfolio-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    column-gap: 24px;
    margin: auto;
  }

  .subtitle-text {
    border-bottom: 1px solid var(--cornflower);
    border-left: 1px solid var(--cornflower);
    border-right: 1px solid var(--cornflower);
    padding: 32px 16px;
    width: 288px;
    height: 120px;
  }

  .portfolio-subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
  }

  .portfolio-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
  }

  .img {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    font-family: var(--font-family);
    padding-top: 40px;
    background-color: var(--iris);
    color: var(--cloud);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    color: var(--cloud);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item {
    width: 288px;
    height: 400px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover .overlay {
    transform: translateY(0);
  }

  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}
@media screen and (max-width: 767px) {
  .container-icon,
  .qualities-icon {
    display: none;
  }
}

/* ---------------- FOOTER (Mobile First) ---------------- */
.footer {
  background: var(--navy-blue);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer .container {
  display: flex;
  flex-direction: column; /* В одну колонку */
  align-items: center; /* Центрируем всё по центру */
  text-align: center; /* Текст тоже центрируем */
  gap: 72px; /* Расстояние между блоками */
  margin: 0 auto;
}

/* Левая часть (логотип и текст) */
.footer-left {
  width: 100%;
  max-width: 320px;
}

.logo-footer {
  display: inline-block;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-bottom: 16px;
}

.footer-logo-text {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
  margin-bottom: 16px;
}

.footer-text {
  max-width: 268px;
  margin: 0 auto;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.5;
  color: var(--cloud);
}

/* Соцсети */
.container-social-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.social-media-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
}

.media-icons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.media-icons .social-link {
  background-color: var(--iris);
  fill: var(--cloud);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-icons .social-link:hover,
.media-icons .social-link:focus {
  background-color: var(--green);
}

/* Подписка */
.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

/* Форма подписки */
.subscribe-form {
  display: flex;
  flex-direction: column; /* Поле и кнопка — вертикально */
  align-items: center;
  gap: 16px;
  width: 100%;
}

.form-input {
  width: 100%;
  max-width: 290px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  border-radius: 4px;
}

.form-input::placeholder {
  color: #ffffff;
}

.form-btn {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--green);
}

.send-icon {
  margin-left: 12px;
}

/* ---------------- TABLET SECTION ---------------- */

/* -----------header---------- */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .container-icon {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
  .nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--ocean);
  }

  .nav-link {
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-item:not(:first-child) .nav-link::after {
    content: "";
    position: absolute;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    opacity: 0;
    background-color: var(--ocean);
    transition: 250ms ease-in-out;
  }

  .nav-item:not(:first-child) .nav-link:hover::after,
  .nav-item:not(:first-child) .nav-link:focus::after {
    opacity: 1;
  }

  .nav-item:first-child .nav-link {
    color: var(--ocean);
  }

  .nav-item:first-child .nav-link::after {
    content: "";
    position: absolute;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--ocean);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--ocean);
  }

  .nav-link:hover::after,
  .nav-link:focus::after {
    opacity: 1;
  }
  .header-address {
    display: flex;
    justify-content: flex-end;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    gap: 12px;
  }
  .contact-link:hover,
  .contact-link:focus {
    color: var(--ocean);
  }

  .contact {
    display: flex;
    align-items: center;
  }

  .contact-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: var(--slate);
    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* ------------- hero section ------------- */
@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient,
      url(../images/office2x.jpg) no-repeat center/cover;
  }

  .hero {
    background: var(--navy-blue);
    display: flex;
    max-width: 1157px;
    min-height: 436px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/deckstop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
  }

  .hero-title {
    max-width: 496px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
  }

  .main-button {
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
    font-family: var(--font-family);
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.04em;
    color: var(--white);
    margin-right: auto;
    margin-left: auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .main-button:hover,
  .main-button:focus {
    background-color: #404bbf;
    color: #ffffff;
  }

  /* qualities styles */
  .qualities-section {
    padding-top: 96px;
    padding-bottom: 96px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1157px;
  }
  .quality-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .qualities-list {
    width: 736px;
    height: 312px;
    flex-wrap: wrap;
    display: flex;
    gap: 72px 24px;
    margin: auto;
    flex-direction: row;
  }

  .quality-subtitle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
    align-items: flex-start;
  }

  .quality-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    max-width: 356px;
  }

  /* --------------- team styles ---------------*/
  .team-section {
    padding-top: 96px;
    padding-bottom: 96px;
    max-width: 1157px;
    min-height: 436px;
  }

  .team-title {
    margin-bottom: 72px;
    text-align: center;
  }

  .team-list {
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 64px 24px;
  }

  .team-item {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    width: 264px;
    height: 428px;
  }

  .team-text {
    padding: 32px 0;
  }

  .team-name {
    text-align: center;
    margin-bottom: 8px;
  }

  .team-role {
    text-align: center;
  }

  .team-link {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
    justify-content: center;
  }

  .team-link .social-media {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* portfolio styles */
  .portfolio-section {
    max-width: 1157px;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .portfolio-title {
    margin-bottom: 72px;
    text-align: center;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .subtitle-text {
    width: 360px;
    height: 120px;
  }

  .img {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    padding-top: 40px;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item {
    width: 356px;
    height: 420px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover .overlay {
    transform: translateY(0);
  }

  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  /* ---------------- footer SECTION ---------------- */
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer .container {
    flex-direction: row; /* Уже можно в строку */
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    gap: 24px;
  }

  .footer-left {
    max-width: 264px;
  }

  .container-social-icon {
    align-items: flex-start;
    margin-right: 0;
  }

  .subscribe-form {
    flex-direction: row; /* Поле и кнопка рядом */
    align-items: flex-start;
    gap: 24px;
  }

  .form-input {
    max-width: 264px;
  }
}

/* ---------------- desctop SECTION ---------------- */

/* -----------header---------- */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .header-address {
    display: flex;
    justify-content: flex-end;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact {
    display: flex;
    align-items: center;
  }

  /* ------------- hero section ------------- */
  .hero {
    background: var(--navy-blue);
    display: flex;
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-title {
    max-width: 496px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
  }

  .main-button {
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
    font-family: var(--font-family);
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.04em;
    color: var(--white);
    margin-right: 480px;
    margin-left: 480px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .main-button:hover,
  .main-button:focus {
    background-color: #404bbf;
    color: #ffffff;
  }

  /* qualities styles */

  .qualities-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .qualities-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .qualities-list {
    display: flex;
    gap: 24px;
  }

  .quality-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .quality-subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);
    margin-bottom: 8px;
  }

  .quality-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
  }

  .quality-item .container-icon {
    width: 264px;
    height: 112px;
    background-color: var(--cloud);
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* <!-- TEAM SECTION --> */
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1440px;
  }

  .team-title {
    font-weight: 700;
    font-size: 36px;

    margin-bottom: 72px;
    text-align: center;
  }

  .team-list {
    display: flex;
    gap: 24px;
  }

  .team-item {
    border-radius: 0 0 4px 4px;
    width: 264px;
    height: 428px;
  }

  .team-text {
    padding: 32px 0;
  }

  .team-name {
    margin-bottom: 8px;
  }

  .team-link {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
    justify-content: center;
  }

  .team-link .social-media {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*  portfolio styles */

  .portfolio-section {
    max-width: 1157px;
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

/* ---------------- footer SECTION ---------------- */
